.card__header-edit {
    padding: var(--p-md);
    padding-bottom: 0;
    padding-bottom: var(--p-lg);
    text-align: center;
    background-color: var(--clr-bg-2);
    color: var(--clr-bg-1);
    font-weight: 700;
}
